html, * {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width:2500px;
    height: 800px;
    background-color: bisque;
}

.main-box {
    width: 800px;
    max-width: 70%;
    background-color: darkgrey;
}